.ccls-cache/*
.vscode/*
object_files/*
output
rocket
compile_commands.json

CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
Debug/*
.vs/*
fluid-sim
x64/*
fluid-sim.dir/*